# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
wenv/
venv/
ENV/
env/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Azure Functions
local.settings.json
.python_packages/

# OS
.DS_Store
Thumbs.db

frontend/node_modules/
frontend/